body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

#image_container {
    width:100%;
    overflow:auto;
}

#image_right {
    float: left;
    width: 33%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
  text-decoration: line-through;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}